.App {
  font-family: sans-serif;
  text-align: center;
}
.userContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 350px;
  height: 200px;
  background: #fff;
  padding: 15px;
  /* overflow-x: hidden; */
  border-radius: 5px;
  /* overflow-y: scroll; */
  box-shadow: 1px -2px 10px 3px grey;
}
.avatarContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.avatarImg {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.containerStyle {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
}
.inputStyle {
  outline: none;
  width: 100%;
  border: none;
}

.chipContainer {
  display: flex;
  align-items: center;
  background: lightgray;
  cursor: pointer;
  border-radius: 44px;
  justify-content: center;
  margin-right: 10px;
}
.chipImg {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.deleteImg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-left: 10px;
  mix-blend-mode: darken;
}

.chiptext {
  margin: 0px 10px;
}
